*{
    margin:0px;
    padding: 0px;

}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px;
    padding:10px;
    width: 100vw;
    height: 100vh;

}
.picture{
    width:200px;
    height:150px;
}
.info{
display:flex;
justify-content:space-between;
align-items:center;
flex-direction: column;
background-color: rgb(237, 233, 233);
margin: 10px;
width: 300px;
height: 400px;
}

.address,
.date{
    padding:10px;
}